@import "utils";

&__slider {
    @include slick;
    @include slickDots;
    .slick-dots {
        margin: 0 0 0 30px;
        button {
            background: $bright-gray;
            width: 10px;
            height: 10px;
            margin: 0 5px 0 0;
        }
    }
    .slick-active button { background: $accentColor; }
}
&__item {
    list-style: none;
    background: $white-smoke;
    padding: 30px;
    margin: 0 0 40px;
    max-width: 570px;
    @include flexPrSet(null,null,null,null);
    @include positionedItem(relative,null,null,null,null,null);
    &::after {
        content: "";
        transform: skewX(15deg);
        border: 25px solid transparent;
        border-right-color: $white-smoke;
        @include positionedItem(absolute,null,75px,-25px,null,null);
    }
}
&__img { margin: 0 30px 0 0; }
&__body { @include fontSet($warm-grey,0,400 normal 1.4rem/2rem $roboto); }
&__author {
    @include flexPrSet(null,null,space-between,null);
    span {
        &:first-child { @include fontSet($eclipse,0,600 normal 1.8rem/2rem $raleway); }
        &:last-child {color: $light-gray; }
    }
}
&__text { margin: 10px 0 0; }
