@import "utils";

.services {
    &-style-2 {
        background: #fafafa;
        padding: 116px 0 80px;
        .container { @include flexPrSet(null,null,space-between,null); }
        &-el {
            flex: 0 0 270px;
            background: #fff;
            border-radius: 5px;
            text-align: center;
            padding: 55px 30px 30px;
            cursor: pointer;
            @include positionedItem(relative,null,null,null,null,null);
            &__icon {
                background: #363636;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                transform: translate(-50%,-50%);
                transition: .4s;
                @include positionedItem(absolute,0,null,null,50%,null);
                @include flexPrSet(null,null,center,center);
            }
            h2 {
                transition: .4s;
                @include fontSet(#363636,0,700 normal 2.4rem/1 $raleway);
            }
            p {
                margin: 25px 0 30px;
                @include fontSet(#959595,0,400 normal 1.4rem/2rem $raleway);
            }
            &:hover {
                .services-style-2-el__icon { background: #e5493a; }
                h2 { color: #e5493a; }
                &:after { background: #e5493a; }
            }
            &:after {
                content: "";
                height: 2px;
                background: #363636;
                @include positionedItem(absolute,null,100px,30px,100px,null);
            }
        }
    }
}
