$black: #000;
$god-gray: #111111;
$matte-black: #171717;
$nero: #252525;
$eclipse: #363636;
$greyish-brown: #464646;
$davy-grey: #555;
$granite-gray: #595959;
$brownish-grey: #636363;
$maya-blue: #6dcff6;
$dim-gray: #707070;
$suva-grey: #898989;
$booger: #8dc63f;
$warm-grey: #959595;
$light-sky-blue: #c7efff;
$light-gray: #ccc;
$chinese-white: #e1e1e1;
$accentColor: #e5493a;
$bright-gray: #ebebeb;
$white-smoke: #f2f2f2;
$blush: #f4897e;
$snow: #fafafa;
$white: #fff;


$black-0: rgba(54, 54, 54, 0);
$white-25: rgba(255, 255, 255, 0.25);
$tomato-0: rgba(229, 73, 58, 0);
$pinkish-grey: #cccccc;
$white-0: rgba(255, 255, 255, 0);
$white-20: rgba(255, 255, 255, 0.2);
$pale-red: #d4392a;
$dark: #172322;
$cool-grey: #9ca0a0;
$slate-grey: #6b6f70;
$azure: #00adef;
$seafoam-blue: #7accc8;
$lipstick: #e52e2f;
$coral: #f05d4f;
$cerulean: #009ed9;
$golden-yellow: #fecc17;
$goldenrod: #f8c50b;
$avocado: #83bc35;
$twilight: #605ca8;
$very-light-pink: #fbe9e7;
$pale-grey: #e7f0f3;
$light-tan: #f8ecc2;
$light-sage: #dff2c6;
$dusty-orange: #f06758;

$roboto : roboto;
$raleway: raleway;
@mixin flexPrSet($direction,$wrapValue,$mainJustify,$extraJustify){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrapValue;
    justify-content: $mainJustify;
    align-items: $extraJustify;
}
@mixin positionedItem($posValue,$top,$right,$bottom,$left,$zValue){
    position: $posValue;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $zValue;
}
@mixin center($zValue:null) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: $zValue;
}
@mixin centerHor($zValue:null) {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    z-index: $zValue;
}
@mixin centerVer($zValue:null) {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    z-index: $zValue;
}
@mixin fontSet($color,$ltrSpcVal,$args...) {
    color: $color;
    letter-spacing: $ltrSpcVal;
    font: $args;
}
@mixin sectionTitle($mainColor,$extraColor,$lineColor:$mainColor) {
        text-align: center;
        padding: 0 0 35px;
        max-width: 570px;
        margin: 0 auto 40px;
        @include positionedItem(relative,null,null,null,null,null);
        @include fontSet($extraColor,0,400 normal 1.4rem/2rem $roboto);
        h2 {
            margin: 0 0 20px;
            @include fontSet($mainColor,0,700 normal 3rem/1 $raleway);
            span { color: $accentColor; }
        }
        &::after {
            content: "";
            height: 2px;
            width: 170px;
            background: $lineColor;
            @include positionedItem(absolute,null,0,0,200px,null);
        }
}
@mixin imgFix {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
@mixin slick {
    .slick-slide { outline: 0; }
    .slick-list { overflow: hidden; }
    .slick-track { @include flexPrSet(null,null,null,null); }
}
@mixin slickDots {
    .slick-dots {
        list-style: none;
        @include flexPrSet(null,null,null,null);
        button {
            outline: 0;
            border: 0;
            font-size: 0;
            border-radius: 50%;
            cursor: pointer;
            transition: .4s;
        }
    }
}
@mixin slickArrows {
    .slick-arrow {
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: .4s;
    }
}
@mixin footerMiniTitle {
    @include fontSet($white,0,700 normal 2.4rem/1 $roboto);
    &::after {
        content: "";
        display: block;
        background: $accentColor;
        width: 70px;
        height: 2px;
        margin: 20px 0;
    }
}
@mixin toTopArrow ($bottomOffset:375px) {
    width: 50px;
    @include positionedItem(absolute,200vh,calc((50vw - 635px)/2),0,null,4);
    a {
        height: 50px;
        width: 50px;
        text-decoration: none;
        font-size: 2rem;
        color: $granite-gray;
        background: rgba(0, 0, 0, .25);
        transition: .4s;
        @include flexPrSet(null,null,center,center);
        @include positionedItem(sticky,calc(100vh - #{$bottomOffset}),null,null,null,4);
        &:hover {
            color: $accentColor;
            background: #000;
        }
    }
}
@mixin ad ($variance:3) {
    $boxPadding: 43px 0;
    $bgColor: $booger;
    $upperText: 700 normal 3.2rem/1 $raleway;
    $subText: 400 normal 2.4rem/1 $raleway;
    @if $variance == 3 {
        $boxPadding: 56px 0;
        $upperText: 800 normal 3.8rem/1 $raleway;
        $subText: 300 normal 2.4rem/1 $raleway;
    } @else if $variance == 2 { $bgColor: $accentColor; }
    .ad {
        background: $bgColor;
        .container {
            padding: $boxPadding;
            @include flexPrSet(null,null,space-between,null);
        }
        &__text {
            h2 { @include fontSet($white,0,$upperText); }
            p { @include fontSet($white,0,$subText); }
        }
        &__link {
            align-self: center;
            a {
                display: block;
                padding: 17px 37px;
                background: $nero;
                border-radius: 5px;
                text-decoration: none;
                @include fontSet($white,0,800 normal 1.4rem/2rem $raleway);
            }
        }
    }
}