:root {
  font: 400 normal 62.5%/1.2 sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrap {
  position: relative;
}

.wrap .to-top {
  width: 50px;
  position: absolute;
  top: 200vh;
  right: calc((50vw - 635px)/2);
  bottom: 0;
  z-index: 4;
}

.wrap .to-top a {
  height: 50px;
  width: 50px;
  text-decoration: none;
  font-size: 2rem;
  color: #595959;
  background: rgba(0, 0, 0, 0.25);
  transition: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: calc(100vh - 375px);
  z-index: 4;
}

.wrap .to-top a:hover {
  color: #e5493a;
  background: #000;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-panel {
  background: #363636;
  color: #898989;
  letter-spacing: 0;
  font: 400 normal 1.3rem/1 roboto;
}

.header-panel .container {
  display: flex;
  padding: 14px 0 14px;
}

.header-panel a {
  text-decoration: none;
  color: inherit;
}

.header-panel .fa-sort-down {
  transform: translate(0, -3px);
}

.header-panel__language {
  margin: 0 50px 0 0;
}

.header-panel__language .fas {
  color: #555;
}

.header-panel__language span {
  margin: 0 11px 0 10px;
}

.header-panel__tel {
  margin: 0 50px 0 0;
}

.header-panel__tel span {
  margin: 0 0 0 12px;
}

.header-panel__mail {
  margin: 0 229px 0 0;
}

.header-panel__mail span {
  margin: 0 7px 0 10px;
}

.header-panel__register {
  cursor: pointer;
  margin: 0 55px 0 0;
}

.header-panel__register span:not(:last-child) {
  margin: 0 0 0 10px;
}

.header-panel__register span:last-child {
  color: #8dc63f;
}

.header-panel-wishlist {
  cursor: pointer;
  margin: 0 50px 0 0;
  position: relative;
}

.header-panel-wishlist__inner {
  transition: .4s;
}

.header-panel-wishlist__inner span:nth-child(2) {
  margin: 0 0 0 10px;
}

.header-panel-wishlist__inner span:nth-child(3) {
  margin: 0 15px 0 0;
  color: #898989;
}

.header-panel-wishlist__inner:hover {
  color: #e5493a;
}

.header-panel-wishlist__inner:hover span:nth-child(3) {
  color: #898989;
}

.header-panel-wishlist__inner:hover + .header-panel-wishlist-pop-down {
  opacity: 1;
  visibility: visible;
}

.header-panel-wishlist-pop-down {
  visibility: hidden;
  cursor: initial;
  opacity: 0;
  background: #252525;
  padding: 25px 30px;
  white-space: nowrap;
  box-shadow: 0 2px #e5493a;
  transition: .4s;
  position: absolute;
  top: calc(100% + 14px);
  left: 0;
  z-index: 2;
}

.header-panel__social {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-panel__social li {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #555;
}

.header-panel__social li + li {
  margin: 0 0 0 5px;
}

.header-panel__social li a {
  display: block;
  height: 100%;
  width: 100%;
}

.header-panel__social li:hover {
  background: #e5493a;
}

.header-panel__social li .fas,
.header-panel__social li .fab {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-inner .container {
  padding: 31px 0 40px;
  display: flex;
}

.header-logo {
  margin: 0 100px 0 0;
}

.header-logo img {
  display: block;
}

.header-menu {
  padding: 15px 0 10px;
  width: 770px;
  margin: 0 90px 0 0;
}

.header-menu ul {
  display: flex;
  justify-content: space-between;
}

.header-menu-item {
  list-style: none;
}

.header-menu-item a {
  text-decoration: none;
  transition: .4s;
  color: #555;
  letter-spacing: 0;
  font: 800 normal 1.4rem/1 raleway;
}

.header-menu-item a:hover,
.header-menu-item .active {
  color: #e5493a;
  position: relative;
}

.header-menu-item a:hover:before,
.header-menu-item .active:before {
  content: "";
  position: absolute;
  top: -11px;
  left: 0;
  width: 8px;
  height: 2px;
  background-color: #e5493a;
}

.header-menu-item span {
  margin: 0 5px 0 0;
}

.header-menu-item .fa-sort-down {
  transform: translate(0, -3px);
}

.header-cart {
  padding: 15px 0 10px;
  margin: 0 29px 0 0;
  white-space: nowrap;
  cursor: pointer;
  color: #363636;
  letter-spacing: 0;
  font: 400 normal 1.4rem/1 raleway;
}

.header-cart span:first-child {
  margin: 0 10px 0 0;
}

.header-cart__inner {
  display: inline-block;
  font-size: 1.2em;
  position: relative;
}

.header-cart__inner .sticker {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #e5493a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -7px;
  right: -9px;
  z-index: 1;
  color: #fff;
  letter-spacing: 0;
  font: 900 normal 1.1rem/1 roboto;
}

.header-search {
  cursor: pointer;
  position: relative;
}

.header-search__inner {
  padding: 15px 0 10px;
  font-size: 1.9rem;
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 2;
}

.header-search__pop {
  display: none;
}

.progress {
  height: 3px;
  width: 0%;
  background-color: #e5493a;
}

.progress-container {
  height: 3px;
  width: 100%;
  background-color: #363636;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.navigation {
  background: #e5493a;
  color: #fff;
  letter-spacing: 0;
  font: 500 normal 1.2rem/2rem roboto;
}

.navigation .container {
  padding: 25px 0 28px;
  display: flex;
  justify-content: space-between;
}

.navigation__current-pos {
  font-size: 1.8rem;
}

.navigation__links {
  display: flex;
}

.navigation__links p {
  user-select: none;
  color: #f4897e;
  letter-spacing: 0;
  font: 400 normal 1.2rem/2rem roboto;
}

.navigation__links ul {
  display: flex;
}

.navigation__links li {
  margin: 0 0 0 10px;
  list-style: none;
}

.navigation__links li + li:before {
  content: "\00B7";
  color: #fff;
  margin: 0 10px 0 0;
}

.navigation__links li:last-child {
  color: #fff;
  letter-spacing: 0;
  font: 900 normal 1.2rem/2rem roboto;
}

.navigation__links a {
  color: inherit;
  text-decoration: none;
}

.navigation {
  background: url("../img/portfolio-dark-bg.png") center center/cover #e5493a;
}

.navigation .container {
  padding: 39px 0;
}

.portfolio {
  padding: 70px 0 80px;
}

.portfolio .title {
  text-align: center;
  padding: 0 0 35px;
  max-width: 570px;
  margin: 0 auto 40px;
  position: relative;
  color: #959595;
  letter-spacing: 0;
  font: 400 normal 1.4rem/2rem roboto;
}

.portfolio .title h2 {
  margin: 0 0 20px;
  color: #363636;
  letter-spacing: 0;
  font: 700 normal 3rem/1 raleway;
}

.portfolio .title h2 span {
  color: #e5493a;
}

.portfolio .title::after {
  content: "";
  height: 2px;
  width: 170px;
  background: #363636;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 200px;
}

.portfolio-categories {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.portfolio-categories ul {
  padding: 0 20px;
  background: #fafafa;
  border-radius: 3px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.portfolio-categories li + li {
  margin: 0 0 0 15px;
}

.portfolio-categories label {
  display: block;
}

.portfolio-categories input {
  display: none;
}

.portfolio-categories input:checked + span {
  color: #e5493a;
}

.portfolio-categories input:checked + span::after {
  background: #e5493a;
}

.portfolio-categories span {
  display: block;
  padding: 12px 15px 8px;
  cursor: pointer;
  transition: .4s;
  color: #555;
  letter-spacing: 0;
  font: 700 normal 1.4rem/2rem raleway;
  position: relative;
}

.portfolio-categories span::after {
  content: "";
  height: 2px;
  background: transparent;
  transition: .4s;
  position: absolute;
  right: 15px;
  bottom: 0;
  left: 15px;
}

.portfolio-categories span:hover {
  color: #e5493a;
}

.portfolio-categories span:hover::after {
  background: #e5493a;
}

.portfolio-work {
  cursor: pointer;
  list-style: none;
  flex: 0 0 20%;
  padding: 13.4375% 0 0;
  position: relative;
}

.portfolio-works {
  margin: 0 0 40px;
}

.portfolio-work img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.portfolio-work:hover .portfolio-work__inner {
  opacity: 1;
}

.portfolio-work:hover img {
  opacity: .85;
}

.portfolio-work__inner {
  padding: 10% 0 0 5%;
  opacity: 0;
  white-space: nowrap;
  transition: .4s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.portfolio-work__inner::after {
  content: "";
  height: 2px;
  width: 70px;
  background: #e5493a;
  transition: .4s;
  position: absolute;
  top: calc(10% + 70px);
  left: 5%;
}

.portfolio-work h2 {
  margin: 0 0 10px;
  color: #fff;
  letter-spacing: 0;
  font: 700 normal 2.4rem/1 raleway;
}

.portfolio-work p {
  color: #959595;
  letter-spacing: 0;
  font: 400 normal 1.4rem/2rem roboto;
}

.portfolio-works {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-work__hover {
  display: flex;
  position: absolute;
  right: 2.083vw;
  bottom: 2.083vw;
}

.portfolio-work__hover i {
  color: #fff;
  width: 2.1875vw;
  height: 2.1875vw;
  border-radius: 50%;
  background: #252525;
  transition: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-work__hover i + i {
  margin: 0 0 0 .416667vw;
}

.portfolio-work__hover i:hover {
  background: #e5493a;
}

.portfolio__load-more button {
  display: block;
  border: 0;
  outline: 0;
  background: #363636;
  margin: 0 auto;
  padding: 11px 30px 10px;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  letter-spacing: 0;
  font: 800 normal 1.2rem/2rem raleway;
}

.review .container {
  padding: 70px 0 80px;
}

.review__title {
  text-align: center;
  padding: 0 0 35px;
  max-width: 570px;
  margin: 0 auto 40px;
  position: relative;
  color: #959595;
  letter-spacing: 0;
  font: 400 normal 1.4rem/2rem roboto;
}

.review__title h2 {
  margin: 0 0 20px;
  color: #363636;
  letter-spacing: 0;
  font: 700 normal 3rem/1 raleway;
}

.review__title h2 span {
  color: #e5493a;
}

.review__title::after {
  content: "";
  height: 2px;
  width: 170px;
  background: #363636;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 200px;
}

.review__slider .slick-slide {
  outline: 0;
}

.review__slider .slick-list {
  overflow: hidden;
}

.review__slider .slick-track {
  display: flex;
}

.review__slider .slick-dots {
  list-style: none;
  display: flex;
}

.review__slider .slick-dots button {
  outline: 0;
  border: 0;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: .4s;
}

.review__slider .slick-dots {
  margin: 0 0 0 30px;
}

.review__slider .slick-dots button {
  background: #ebebeb;
  width: 10px;
  height: 10px;
  margin: 0 5px 0 0;
}

.review__slider .slick-active button {
  background: #e5493a;
}

.review__item {
  list-style: none;
  background: #f2f2f2;
  padding: 30px;
  margin: 0 0 40px;
  max-width: 570px;
  display: flex;
  position: relative;
}

.review__item::after {
  content: "";
  transform: skewX(15deg);
  border: 25px solid transparent;
  border-right-color: #f2f2f2;
  position: absolute;
  right: 75px;
  bottom: -25px;
}

.review__img {
  margin: 0 30px 0 0;
}

.review__body {
  color: #959595;
  letter-spacing: 0;
  font: 400 normal 1.4rem/2rem roboto;
}

.review__author {
  display: flex;
  justify-content: space-between;
}

.review__author span:first-child {
  color: #363636;
  letter-spacing: 0;
  font: 600 normal 1.8rem/2rem raleway;
}

.review__author span:last-child {
  color: #ccc;
}

.review__text {
  margin: 10px 0 0;
}

.review__slider .slick-dots {
  margin: 25px 0 0;
  display: flex;
  justify-content: center;
}

.review__slider li {
  display: flex;
  justify-content: space-between;
}

.our-happy {
  background: url("../img/our-happy-bg.png") center center/cover no-repeat #e5493a;
}

.our-happy .container {
  padding: 80px 0 85px;
}

.our-happy__slider {
  list-style: none;
  position: relative;
}

.our-happy__slider .slick-slide {
  outline: 0;
}

.our-happy__slider .slick-list {
  overflow: hidden;
}

.our-happy__slider .slick-track {
  display: flex;
}

.our-happy__slider .slick-arrow {
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: .4s;
}

.our-happy__slider .slick-arrow {
  background: rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 0;
  font: 900 1.5rem/1 "Font Awesome 5 Free";
}

.our-happy__slider .slick-arrow:hover {
  background: #363636;
}

.our-happy__slider .slick-prev {
  left: 0;
}

.our-happy__slider .slick-prev::before {
  content: "\f053";
}

.our-happy__slider .slick-next {
  right: 0;
}

.our-happy__slider .slick-next::before {
  content: "\f054";
}

.our-happy__slider li {
  max-width: 920px;
  margin: 0 auto;
  width: 100%;
}

.our-happy__slider li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background: #252525;
}

.footer .container {
  padding: 60px 0 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .about-exo {
  max-width: 270px;
  flex: 0 0 100%;
}

.footer .about-exo__inner {
  color: #636363;
  letter-spacing: 0;
  font: 400 normal 1.4rem/2rem roboto;
}

.footer .about-exo__header {
  margin: 0 0 0 -5px;
  display: flex;
  align-items: center;
}

.footer .about-exo__header h3 {
  margin: 30px 0 0 35px;
  color: #363636;
  letter-spacing: 0;
  font: 700 normal 1rem/1 roboto;
}

.footer .about-exo__text {
  margin: 15px 0;
}

.footer .about-exo__link {
  margin: 0 0 35px;
}

.footer .about-exo__link a {
  text-decoration: none;
  color: #e5493a;
  cursor: pointer;
}

.footer .about-exo__link a::after {
  margin: 0 0 0 5px;
  content: "\00BB";
}

.footer .about-exo__form {
  color: #464646;
  letter-spacing: 0;
  font: 400 normal 1.4rem/2rem roboto;
}

.footer .about-exo__form p {
  color: #fff;
  letter-spacing: 0;
  font: 700 normal 1.8rem/2rem roboto;
}

.footer .about-exo__form label {
  display: block;
  overflow: hidden;
  border-radius: 3px;
  margin: 14px 0 18px;
  position: relative;
}

.footer .about-exo__form label::after {
  content: "\f0e0";
  color: #363636;
  letter-spacing: 0;
  font: 900 normal 1.4rem/1 "Font Awesome 5 Free";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
}

.footer .about-exo__form label input {
  display: block;
  width: 100%;
  outline: 0;
  border: 0;
  background: #171717;
  padding: 10px 30px;
  color: #464646;
  letter-spacing: 0;
  font: 400 normal 1.4rem/2rem roboto;
}

.footer .about-exo__form label input::placeholder {
  color: inherit;
  letter-spacing: inherit;
  font: inherit;
}

.footer .about-exo__form h5 {
  font-size: 1.3rem;
}

.footer .latest-news {
  max-width: 270px;
  flex: 0 0 100%;
}

.footer .latest-news__title {
  padding: 20px 0 0;
  margin: 0 0 10px;
  color: #fff;
  letter-spacing: 0;
  font: 700 normal 2.4rem/1 roboto;
}

.footer .latest-news__title::after {
  content: "";
  display: block;
  background: #e5493a;
  width: 70px;
  height: 2px;
  margin: 20px 0;
}

.footer .latest-news-article {
  list-style: none;
  cursor: pointer;
  display: flex;
}

.footer .latest-news-article:hover .latest-news-article__img .fa-search {
  opacity: 1;
}

.footer .latest-news-article:hover .latest-news-article__content p {
  color: #e5493a;
}

.footer .latest-news-article:hover .latest-news-article__content span {
  color: #fff;
}

.footer .latest-news-article__img {
  overflow: hidden;
  border-radius: 3px;
  margin: 0 15px 0 0;
  max-width: 70px;
  flex: 0 0 100%;
  padding: 5px 0 0;
  position: relative;
}

.footer .latest-news-article__img .fa-search {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #252525;
  font-size: 1rem;
  color: #fff;
  opacity: 0;
  transition: .4s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.footer .latest-news-article__content {
  transition: .4s;
  color: #959595;
  letter-spacing: 0;
  font: 400 normal 1.4rem/2rem roboto;
}

.footer .latest-news-article__content span {
  display: inline-block;
  color: #464646;
  margin: 5px 0 0;
}

.footer .latest-news-article:not(:first-child) {
  margin: 31px 0 0;
  position: relative;
}

.footer .latest-news-article:not(:first-child)::before {
  content: "";
  height: 1px;
  background: #363636;
  position: absolute;
  top: -16px;
  right: 0;
  left: 0;
}

.footer .twitter-widgets {
  max-width: 270px;
  flex: 0 0 100%;
  margin: 0 0 0 30px;
}

.footer .twitter-widgets__title {
  padding: 20px 0 0;
  margin: 0 0 10px;
  color: #fff;
  letter-spacing: 0;
  font: 700 normal 2.4rem/1 roboto;
}

.footer .twitter-widgets__title::after {
  content: "";
  display: block;
  background: #e5493a;
  width: 70px;
  height: 2px;
  margin: 20px 0;
}

.footer .twitter-widgets-article {
  list-style: none;
  display: flex;
  color: #959595;
  letter-spacing: 0;
  font: 400 normal 1.4rem/2rem roboto;
}

.footer .twitter-widgets-article:not(:first-child) {
  margin: 31px 0 0;
  position: relative;
}

.footer .twitter-widgets-article:not(:first-child)::before {
  content: "";
  height: 1px;
  background: #363636;
  position: absolute;
  top: -16px;
  right: 0;
  left: 0;
}

.footer .twitter-widgets-article__logo {
  max-width: 20px;
  height: 20px;
  flex: 0 0 100%;
  border-radius: 50%;
  background: #464646;
  font-size: 1rem;
  margin: 0 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .twitter-widgets-article__content {
  padding: 0 0 3px;
}

.footer .twitter-widgets-article__content a {
  color: #fff;
  text-decoration: none;
}

.footer .twitter-widgets-article__content p::after {
  display: block;
  content: attr(data-date);
  margin: 15px 0 0;
  color: #464646;
  letter-spacing: 0;
  font: 400 normal 1.3rem/2rem roboto;
}

.footer .get-in-touch {
  max-width: 270px;
  flex: 0 0 100%;
  color: #959595;
  letter-spacing: 0;
  font: 400 normal 1.4rem/2rem roboto;
}

.footer .get-in-touch__title {
  padding: 20px 0 0;
  margin: 0 0 10px;
  color: #fff;
  letter-spacing: 0;
  font: 700 normal 2.4rem/1 roboto;
}

.footer .get-in-touch__title::after {
  content: "";
  display: block;
  background: #e5493a;
  width: 70px;
  height: 2px;
  margin: 20px 0;
}

.footer .get-in-touch__el {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer .get-in-touch__el:not(:first-child) {
  margin: 37px 0 0;
  position: relative;
}

.footer .get-in-touch__el:not(:first-child)::before {
  content: "";
  height: 1px;
  background: #363636;
  position: absolute;
  top: -24px;
  right: 0;
  left: 0;
}

.footer .get-in-touch__el div:nth-child(odd) {
  color: #636363;
}

.footer .get-in-touch__el div:nth-child(even) {
  max-width: 170px;
  flex-basis: 100%;
}

.footer .get-in-touch__el div span {
  color: #636363;
  letter-spacing: 0;
  font: 400 normal 1.3rem/2rem roboto;
}

.footer .get-in-touch__el div a {
  color: inherit;
  text-decoration: none;
}

.footer .get-in-touch__el div a[href^="mailto"] {
  color: #e5493a;
}

.footer .get-in-touch__el ul {
  display: flex;
  flex-wrap: wrap;
}

.footer .get-in-touch__el li {
  list-style: none;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #464646;
  font-size: 1rem;
  transition: .4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .get-in-touch__el li:not(:last-child) {
  margin: 0 5px 5px 0;
}

.footer .get-in-touch__el li:hover {
  background: #e5493a;
  color: #000;
}

.footer__nav {
  background: #111111;
}

.footer__nav .container {
  padding: 30px 0;
  display: flex;
}

.footer__nav ul {
  margin: 0 0 0 auto;
  list-style: none;
  display: flex;
}

.footer__nav li:not(first-child) {
  margin: 0 0 0 20px;
}

.footer__nav a {
  text-decoration: none;
  color: #464646;
  letter-spacing: 0;
  font: 700 normal 1.4rem/2rem raleway;
}

.footer__nav a.active, .footer__nav a:hover {
  color: #e5493a;
}

.footer__copyright {
  color: #464646;
  letter-spacing: 0;
  font: 400 normal 1.4rem/2rem roboto;
}

.footer__copyright span {
  color: #959595;
}
